# Node modules
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build files
dist/
build/

# Cache
.eslintcache

# Testing
coverage/
.nyc_output/
